@model CabFrontend.Models.LoginRequest;
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<script src="~/lib/jquery/dist/jquery.js"></script>

<!-- Include Toastr CSS and JavaScript -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />




<div class="container">
	<div class="screen">
		<div class="screen__content">


			<form class="login" asp-controller="User" id="registrationForm" method="post">
				@Html.ValidationSummary(true)
				<div>
				<h2>Welcome</h2>

				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input asp-for="Email" id="Email" type="email" class="login__input" placeholder="User name / Email" required>
					<div id="emailValidationMessage" style="color: red; font-size:10px"></div>
				</div>
				@* <div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input asp-for="Email" id="email" class="login__input" placeholder="User name / Email" required >
					@Html.ValidationMessageFor(Model => Model.Email)
				</div> *@
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input asp-for="Password" id="password" type="password" class="login__input" placeholder="Password" required>
					@Html.ValidationMessageFor(Model => Model.Password)
				</div>
				</div>
				<button type="submit" class="button login__submit" asp-action="Login" asp-controller="User">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>

				<span style="font-style:italic;color:red"><a asp-action="ForgetPasswordPage">Forget Password?</a></span>
			</form>

		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>
</div>

@if (TempData["success"] != null)
{
	<script>
		// Display success Toastr notification
		toastr.success('@TempData["success"]');
	</script>
}

@if (TempData["error"] != null)
{
	<script>
		// Display error Toastr notification
		toastr.error('@TempData["error"]');
	</script>
}



<script src="~/js/Signup.js"> </script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.validate.unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>


